@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;

header {
    position: relative;
    z-index: 999;
    margin-inline: auto;
    width: min(100%, f.rem(1440));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: f.rem(16);
}

nav {
    background-color: var(--x-d-violet);
    position: fixed;
    top: f.rem(64);
    left: 0;
    right: 0;
    height: 100vh;
    transform: translateY(200%);
    transition: transform .3s ease-in;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: f.rem(32);
        gap: f.rem(32);

        li {
            display: grid;
            place-content: center;
            width: 100%;
            a {
                text-transform: uppercase;
                color: white;
                letter-spacing: 2px;
            }

            
            &:last-child {
                a {
                    padding: f.rem(16);
                    text-align: center;
                    width: 312px;
                    background: transparent;
                }
            }
        }
    }

    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-size: contain;
}

.menu,
.close-menu {
    cursor: pointer;
}

.toggle-menu {
    transform: translateY(0);
    // transition: transform .4s ease-in;

}